@namespace Xylab.Contesting.Connector.Jobs.Components.JuryJobs
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, SatelliteSite.Substrate
@inject Xylab.Contesting.Services.IContestContextAccessor Contest
@inject Microsoft.Extensions.Options.IOptions<ExportPdfOptions> PdfOptions
@{
    var affs = await Contest.Context.ListAffiliationsAsync();
    var cats = await Contest.Context.ListCategoriesAsync();
    var probs = await Contest.Context.ListProblemsAsync();
}

<h4 class="mt-2">Complicated Export (background jobs)</h4>

<div class="row">
<div class="col-md-6 mb-3">
<div class="tile">
<h3 class="mb-3">Export scoreboard <i title="excel workbook" class="fas fa-file-excel" style="color:#117e43"></i></h3>
<form asp-controller="JuryJobs" asp-action="ScoreboardXlsx" method="post">
    <div class="form-group">
        <label class="d-block">Affiliations</label>
        @foreach (var aff in affs.Values)
        {
            <div class="custom-control custom-checkbox d-inline-block mr-2">
                <input type="checkbox" name="affiliations" value="@aff.Id" checked class="custom-control-input" id="CESc100aff@(aff.Id)">
                <label class="custom-control-label" for="CESc100aff@(aff.Id)">@aff.Name</label>
            </div>
        }
    </div>
    <div class="form-group">
        <label class="d-block">Categories</label>
        @foreach (var cat in cats.Values)
        {
            <div class="custom-control custom-checkbox d-inline-block mr-2">
                <input type="checkbox" name="categories" value="@cat.Id" checked class="custom-control-input" id="CESc100cat@(cat.Id)">
                <label class="custom-control-label" for="CESc100cat@(cat.Id)">@cat.Name</label>
            </div>
        }
    </div>
    <div class="form-group">
        <label class="d-block">Other</label>
        <div class="custom-control custom-checkbox d-inline-block mr-2">
            <input type="checkbox" name="afterend" value="True" class="custom-control-input" id="CESafterend">
            <label class="custom-control-label" for="CESafterend">Include upsolving</label>
        </div>
    </div>
    <button type="submit" class="btn btn-sm btn-primary mb-0"><i class="fa fa-download"></i> Export</button>
</form>
</div>
</div>
</div>

<div class="row" asp-show-if="PdfOptions.Value.Url != null">
<div class="col-md-6 mb-3">
<div class="tile">
<h3 class="mb-3">Export team report <i title="pdf archive" class="fas fa-file-pdf" style="color:#1a5c7e"></i></h3>
<form asp-controller="JuryJobs" asp-action="TeamReport" method="post">
    <div class="form-group">
        <label class="d-block">Affiliations</label>
        @foreach (var aff in affs.Values)
        {
            <div class="custom-control custom-checkbox d-inline-block mr-2">
                <input type="checkbox" name="affiliations" value="@aff.Id" checked class="custom-control-input" id="CPTc100aff@(aff.Id)">
                <label class="custom-control-label" for="CPTc100aff@(aff.Id)">@aff.Name</label>
            </div>
        }
    </div>
    <div class="form-group">
        <label class="d-block">Categories</label>
        @foreach (var cat in cats.Values)
        {
            <div class="custom-control custom-checkbox d-inline-block mr-2">
                <input type="checkbox" name="categories" value="@cat.Id" checked class="custom-control-input" id="CPTc100cat@(cat.Id)">
                <label class="custom-control-label" for="CPTc100cat@(cat.Id)">@cat.Name</label>
            </div>
        }
    </div>
    <button type="submit" class="btn btn-sm btn-primary mb-0"><i class="fa fa-download"></i> Export</button>
</form>
</div>
</div>
</div>

<div class="row">
<div class="col-md-6 mb-3">
<div class="tile">
<h3 class="mb-3">Export submissions <i title="zip archive" class="fas fa-file-archive" style="color:#743f30"></i></h3>
<form asp-controller="JuryJobs" asp-action="SubmissionZip" method="post">
    <div class="form-group">
        <label class="d-block">Affiliations</label>
        @foreach (var aff in affs.Values)
        {
            <div class="custom-control custom-checkbox d-inline-block mr-2">
                <input type="checkbox" name="affiliations" value="@aff.Id" checked class="custom-control-input" id="CETc100aff@(aff.Id)">
                <label class="custom-control-label" for="CETc100aff@(aff.Id)">@aff.Name</label>
            </div>
        }
    </div>
    <div class="form-group">
        <label class="d-block">Categories</label>
        @foreach (var cat in cats.Values)
        {
            <div class="custom-control custom-checkbox d-inline-block mr-2">
                <input type="checkbox" name="categories" value="@cat.Id" checked class="custom-control-input" id="CETc100cat@(cat.Id)">
                <label class="custom-control-label" for="CETc100cat@(cat.Id)">@cat.Name</label>
            </div>
        }
    </div>
    <div class="form-group">
        <label class="d-block">Problems</label>
        @foreach (var prob in probs)
        {
            <div class="custom-control custom-checkbox d-inline-block mr-2" title="@prob.Title">
                <input type="checkbox" name="problems" value="@prob.ProblemId" checked class="custom-control-input" id="CETc100prob@(prob.ProblemId)">
                <label class="custom-control-label" for="CETc100prob@(prob.ProblemId)">@prob.ShortName</label>
            </div>
        }
    </div>
    <div class="form-group">
        <label class="d-block">Time</label>
        <div class="custom-control custom-checkbox d-inline-block mr-2">
            <input type="checkbox" name="beforestart" value="True" class="custom-control-input" id="CETbeforestart">
            <label class="custom-control-label" for="CETbeforestart">Before contest</label>
        </div>
        <div class="custom-control custom-checkbox d-inline-block mr-2">
            <input type="checkbox" name="during" value="True" checked class="custom-control-input" id="CETduring">
            <label class="custom-control-label" for="CETduring">During contest</label>
        </div>
        <div class="custom-control custom-checkbox d-inline-block mr-2">
            <input type="checkbox" name="afterend" value="True" class="custom-control-input" id="CETafterend">
            <label class="custom-control-label" for="CETafterend">After contest</label>
        </div>
    </div>
    <button type="submit" class="btn btn-sm btn-primary mb-0"><i class="fa fa-download"></i> Export</button>
</form>
</div>
</div>
</div>
