@using Xylab.Tenant.Entities
@{
    ViewData["Title"] = "About this contest";
    IReadOnlyDictionary<int, Category> cats = ViewBag.Categories;
    IReadOnlyDictionary<int, Affiliation> affs = ViewBag.Affiliations;
}

<hgroup class="mb-3">
    <h1 class="mt-2">
        Contest <span>@Contest.ShortName</span>
    </h1>
    <h4 class="text-left">@Contest.Name</h4>
</hgroup>

<div class="row">
    <div class="col-lg-7">
        <p>
            <b>Registration</b> <misc-status type="RegistrationStatus" value="Contest.Settings.RegisterCategory?.Count ?? 0" /><br />
            <b>Rule</b> <misc-status type="ContestRule" value="Contest.RankingStrategy" />
        </p>
        @Html.Raw(ViewBag.Markdown)
    </div>
    <div class="col-lg-4">
        <h3 class="mt-4">Team info</h3>
        @if (Contest.Team == null)
        {
            <p>
                You didn't register for this contest.
                <a asp-action="Register" asp-show-if="(Contest.Settings.RegisterCategory?.Count ?? 0) > 0">Go &raquo;</a>
            </p>
        }
        else
        {
            <table class="table table-sm table-striped">
                <tr>
                    <th>Name</th>
                    <td>@Contest.Team.TeamName</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>@(cats.GetValueOrDefault(Contest.Team.CategoryId)?.Name)</td>
                </tr>
                <tr>
                    <th>Affiliation</th>
                    <td>@(affs.GetValueOrDefault(Contest.Team.AffiliationId)?.Name ?? "none")</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td><misc-status type="TeamStatus" value="Contest.Team.Status" /></td>
                </tr>
            </table>
        }
    </div>
</div>
