@model JuryViewSubmissionModel
@{
    var submit = Model.Submission;
    var judging = Model.Judging;
    var prob = Model.Problem;
    var lang = Model.Language;
    var team = Model.Team;

    ViewData["Title"] = "Submission s" + submit.Id;
}

<style> .text-decoration-del { text-decoration: line-through; } </style>

<div class="mt-2 mb-2">
    <h2 class="mt-0 d-inline mb-0 mr-2 @(submit.Ignored ? "text-decoration-del" : "")">Submission @submit.Id</h2>
    <a asp-show-if="Contest.Feature != CcsDefaults.KindProblemset" asp-action="Rejudge" class="btn btn-outline-primary btn-sm" data-toggle="ajaxWindow" data-target="rejudge"><i class="fas fa-sync"></i> Rejudge</a>
    <a asp-action="Ignore" class="btn btn-outline-secondary btn-sm" data-toggle="ajaxWindow" data-target="ignore"><i class="fas fa-@(Model.Submission.Ignored ? "peace" : "ban")"></i> @(Model.Submission.Ignored ? "Unignore" : "Ignore")</a>
</div>

<div class="submission-summary mb-2">
    <span>
        <i class="fas fa-users" title="Team:"></i>
        <a asp-controller="JuryTeams" asp-action="Detail" asp-route-teamid="@team.TeamId">@team.TeamName (t@(team.TeamId))</a>
    </span>
    <span>
        <i class="fas fa-book-open" title="Problem:"></i>
        <a asp-controller="JuryProblems" asp-action="Detail" asp-route-probid="@prob.ProblemId">@prob.ShortName: @prob.Title</a>
    </span>
    <span>
        <i class="fas fa-comments" title="Language:"></i>
        <a asp-controller="JuryLanguages" asp-action="Detail" asp-route-langid="@lang.Id">@lang.Name</a>
    </span>
    <span>
        <i class="fas fa-clock" title="Submittime:"></i>
        <span title="@submit.Time">
            @(Contest.StartTime.HasValue ? (submit.Time - Contest.StartTime.Value).ToDeltaString() : Html.CstTime(submit.Time))
        </span>
    </span>
    <span>
        <i class="fas fa-stopwatch" title="Allowed runtime:"></i>
        @(Model.RealTimeLimit)s
    </span>
    <span>
        <i class="fas fa-code" title="Source code:"></i>
        <a asp-action="Source">View source code</a>
    </span>
</div>

<script src="~/lib/ace/ace.js"></script>
<script src="~/lib/ace/ext-modelist.js"></script>
<link rel="stylesheet" href="~/lib/nvd3/nv.d3.min.css" />
<script src="~/lib/d3/d3.min.js"></script>
<script src="~/lib/nvd3/nv.d3.min.js"></script>

<submission-detail model="Model" />