@{
    Layout = "_Layout";
    var right = ((int?)ViewData["SidebarSize"]) ?? 4;
    var breakpoint = ((string)ViewData["SidebarBreakpoint"]) ?? "lg";
}

<link rel="stylesheet" href="~/lib/site-ccs/gym.css?v=@Contest.CcsVersion" />
<div class="container container-gym pl-0 pr-0">
<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
@{ TempData.Remove("StatusMessage"); }

<div class="row">
<div class="col-12 col-@breakpoint-@(12-right) main">
    @RenderBody()
</div>

<div class="col-12 col-@breakpoint-@right sidebar">
    <h3 class="mt-lg-5">Contest</h3>
    <p>
        @Contest.Name
        <br />
        Start Time: @Html.CstTime(Contest.StartTime)
        <br />
        End Time: @Html.CstTime(Contest.StartTime + Contest.EndTime)
    </p>
    @RenderSection("Sidebar", required: false)
</div>
</div>
</div>
