@model GymHomeViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_LayoutWithSidebar";
}

<h2 class="mt-4 mb-3">Problems</h2>
<table class="table text-center table-gym">
    <thead>
        <tr>
            <th class="head-box" title="Problem ID">#</th>
            <th class="text-left">Title</th>
            <th class="head-box-lg" title="Passed Count">%</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prob in Model.Problems)
        {
            var ot = Model.MeStatistics?.GetValueOrDefault(prob.ProblemId) ?? default;
            <tr class="@(ot.Accepted > 0 ? "accepted-problem" : ot.Total > 0 ? "rejected-problem" : "")">
                <td class="prob-short-name" style="font-weight:bold">@prob.ShortName</td>
                <td class="text-left"><a asp-action="ProblemView" asp-route-prob="@prob.ShortName">@prob.Title</a></td>
                <td><i class="fas fa-user"></i> &times; @Model.AllStatistics.GetValueOrDefault(prob.ProblemId).AcceptedTeams</td>
            </tr>
        }
    </tbody>
</table>
<h3 class="mt-4 mt-lg-5 mb-3">Announcement</h3>
<ul class="list-unstyled">
    @if (Model.Clarifications.Count > 0)
    {
        foreach (var clar in Model.Clarifications)
        {
            <li>
                <p>
                    <b>
                        <i asp-show-if="clar.Recipient == null && Contest.Team != null && clar.Sender == Contest.Team?.TeamId" class="fas fa-question-circle" title="My Clarification Request"></i>
                        <i asp-show-if="Contest.Team != null && clar.Recipient == Contest.Team?.TeamId" class="fas fa-dot-circle" title="Jury's Clarification Response"></i>
                        <i asp-show-if="clar.Recipient == null && clar.Sender == null" class="fas fa-info-circle" title="Common Clarification"></i>
                        @clar.Category @Model.Problems.Find(clar.ProblemId ?? -1)?.ShortName issue
                    </b>
                    <br />
                    @foreach (var ln in clar.Body.TrimEnd().Split('\n'))
                    {
                        @ln
                        <br />
                    }
                    <span class="text-muted">@clar.SubmitTime.ToString("yyyy/MM/dd HH:mm")</span>
                </p>
            </li>
        }
    }
    else
    {
        <li>No announcement.</li>
    }
</ul>
<p>
    <a asp-show-if="Contest.IsTeamAccepted" asp-action="ClarificationAdd" data-toggle="ajaxWindow" data-target="req-clar">Request clarification &raquo;</a>
</p>

@section Sidebar {
    @Html.Raw(Model.Markdown)
    <h3 class="mt-4">Practice</h3>
    <p asp-show-if="Contest.Team == null && Contest.Settings.RegisterCategory == null">
        Registration closed.
    </p>
    <p asp-show-if="Contest.Team == null && Contest.Settings.RegisterCategory != null">
        Want to solve the contest problems? Just register for practice and you will be able to submit solutions.
        <br />
        <a class="mt-2 btn btn-sm btn-primary" asp-action="Register">Register</a>
    </p>
    <p asp-show-if="Contest.Team != null && !Contest.IsTeamAccepted">
        You have registered as Team <b>@Contest.Team.TeamName</b>.
        <br />
        You haven't been accpeted for this contest.
        If you believe this is a mistake, please contact a staff for help.
    </p>
    <p asp-show-if="Contest.IsTeamAccepted">
        You have registered as Team <b>@Contest.Team.TeamName</b>.
        <br />
        <a asp-action="MySubmissions">My submissions &raquo;</a>
    </p>
}
