@model IReadOnlyList<Xylab.Polygon.Models.Solution>
@{
    ViewData["Title"] = "View Problem";
    ViewData["DisableAjaxRefresh"] = true;
    ViewData["CustomBodyClass"] = "gym-problem-view-can-print";
    Layout = "_LayoutWithSidebar";
    ProblemModel cp = ViewBag.CurrentProblem;
}

<script defer src="~/lib/clipboard-js/clipboard.min.js"></script>
<div id="problem-descibe-parent">
    @Html.Raw((string)ViewData["Content"])
</div>

@section Sidebar {
    <h3>Operation</h3>
    <p><a class="btn btn-success btn-sm" asp-action="Submit" asp-route-prob="@cp.ShortName" data-toggle="ajaxWindow" data-target="submitCode"><i class="fas fa-cloud-upload-alt"></i> Submit</a></p>
    <h3>My Submissions</h3>
    <table class="data-table table table-hover table-striped table-sm submissions-table" role="grid">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">time</th>
                <th scope="col">lang</th>
                <th scope="col">verdict</th>
            </tr>
        </thead>
        <tbody id="my-submissions">
            @foreach (var sub in Model)
            {
                <tr asp-action="Submission" asp-route-sid="@sub.SubmissionId" data-toggle="ajaxWindow" data-target="view" role="row">
                    <td use-a>s@(sub.SubmissionId)</td>
                    <td use-a>@Html.CstTime(sub.Time)</td>
                    <td use-a class="text-variant">@sub.Language</td>
                    <td use-a><verdict skipped="@sub.Skipped" value="@sub.Verdict" /></td>
                </tr>
            }
            <tr asp-show-if="Model.Count() == 0" role="row">
                <td colspan="4" class="text-center">No submissions were found.</td>
            </tr>
        </tbody>
    </table>
}

<style>

    @@media print {
        body {
            font-size: 1.3em;
            margin: 1cm;
        }

        #problem-descibe {
            margin: 0em !important;
        }
    }

</style>