@model IEnumerable<BalloonModel>
@{
    ViewData["Title"] = "Balloons";
    ViewData["RefreshSpan"] = 30;
    if (ViewData.ContainsKey("InAjax")) { Layout = null; }
}

<h2 class="mt-2">@ViewData["Title"]</h2>

<div class="row" asp-show-if="Contest.GetState() >= ContestState.Frozen">
<div class="col-12 col-lg-6">
<div class="alert alert-info">
    <i class="fas fa-snowflake"></i>
    Scoreboard of @Contest.Name is now frozen.
</div>
</div>
</div>

<div class="table-wrapper">
    <table class="data-table table table-sm table-striped table-hover" style="width:auto">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sortable searchable"></th>
                <th scope="col" class="sortable searchable">ID</th>
                <th scope="col" class="sortable searchable">time</th>
                <th scope="col" class="sortable searchable">solved</th>
                <th scope="col" class="sortable searchable">team</th>
                <th scope="col" class="sortable searchable">affiliation</th>
                <th scope="col" class="sortable searchable">location</th>
                <th scope="col" class="sortable searchable">category</th>
                <th scope="col" class="sortable searchable">total</th>
                <th scope="col" class="sortable searchable">awards</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ball in Model)
            {
                <tr class="@(ball.Done ? "disabled" : "")">
                    <td><i class="far fa-@(ball.Done ? "check-circle" : "hourglass")"></i></td>
                    <td>@ball.SubmissionId</td>
                    <td>@ball.Time.ToString("HH:mm")</td>
                    <td><i style="color: @ball.BalloonColor" class="fas fa-golf-ball"></i> @ball.ProblemShortName</td>
                    <td>@ball.TeamName</td>
                    <td title="@ball.AffiliationName">@ball.AffiliationShortName.ToUpper()</td>
                    <td>@ball.Location</td>
                    <td>@ball.CategoryName</td>
                    <td>@for (var b = ball; b != null; b = b.Previous) {<i style="color: @b.BalloonColor" class="fas fa-golf-ball"></i>}</td>
                    <td><razor asp-show-if="ball.FirstToSolve">first for problem</razor></td>
                    <td><a asp-show-if="!ball.Done" asp-action="SetDone" asp-route-id="@ball.Id"><i class="fas fa-running"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
