@model JuryListCategoriesModel
@{
    ViewData["Title"] = "Categories";
}

<div class="alert alert-secondary" asp-not-in-roles="Administrator">
    To edit the categories, please contact super administrators.
</div>

<div class="alert alert-primary" asp-in-roles="Administrator">
    To edit the categories, please go to the <a asp-area="Dashboard" asp-controller="Categories" asp-action="List">dashboard page</a>.
</div>

<h2 class="mt-2">@ViewData["Title"]</h2>

<div class="table-wrapper">
    <table class="data-table table table-sm table-striped" style="width:auto">
        <thead>
            <tr role="row">
                <th scope="col" class="sortable searchable">ID</th>
                <th scope="col" class="sortable searchable">sort</th>
                <th scope="col" class="sortable searchable">name</th>
                <th scope="col" class="sortable searchable">color</th>
                <th scope="col" class="sortable">visible</th>
                <th scope="col" class="sortable"># teams</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model)
            {
                <tr asp-action="Detail" asp-route-catid="@cat.Id" role="row" data-target="gotoUrl">
                    <td use-a>@cat.Id</td>
                    <td use-a>@cat.SortOrder</td>
                    <td use-a>@cat.Name</td>
                    <td style="background:@cat.Color" use-a>@cat.Color</td>
                    <td use-a>@(cat.IsPublic ? "yes" : "no")</td>
                    <td use-a>@Model.TeamCount.GetValueOrDefault(cat.Id)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $().ready(function () {
        $('.data-table').DataTable({
            "paging": false,
            "searching": true,
            "ordering": true,
            "order": [[5, 'desc']],
            "info": false,
            "autoWidth": true,
            "language": {
                "searchPlaceholder": "filter table",
                "search": "_INPUT_",
            },
            'aoColumnDefs': [
                { aTargets: ['sortable'], bSortable: true },
                { aTargets: ['searchable'], bSearchable: true },
                { aTargets: ['_all'], bSortable: false, bSearchable: false }
            ],
        });
    });
</script>
