@model IPagedList<ContestListModel>
@{
    ViewData["Title"] = "Contests";
}

@functions {
    static string ContestState(ContestListModel c)
    {
        if (!c.StartTime.HasValue) return "table-primary";
        if (DateTimeOffset.Now < c.StartTime) return "table-warning";
        if (DateTimeOffset.Now < c.StartTime + c.Duration) return "table-success";
        return "";
    }

    static string ContestKind(ContestListModel c)
    {
        return c.Kind switch
        {
            0 => "Contest",
            1 => "Practice",
            2 => "Problemset",
            _ => "Unknown",
        };
    }
}

<h2 class="mt-2">@ViewData["Title"]</h2>

<style>
    .rks .sol { font-weight: normal; }
</style>

<div class="d-none" id="paging">
    <pagination bs-total-page="Model.TotalPage" bs-current-page="Model.CurrentPage" />
</div>

<div class="table-wrapper">
    <table class="data-table table table-sm table-striped" style="width:auto">
        <thead>
            <tr role="row">
                <th scope="col" class="sortable searchable">ID</th>
                <th scope="col" class="sortable searchable">shortname</th>
                <th scope="col" class="sortable searchable">name</th>
                <th scope="col" class="sortable">public?</th>
                <th scope="col" class="sortable searchable">start</th>
                <th scope="col" class="sortable searchable">length</th>
                <th scope="col" class="sortable searchable"># teams</th>
                <th scope="col" class="sortable searchable"># problems</th>
                <th scope="col" class="sortable searchable">kind</th>
                <th scope="col" class="sortable searchable">rule</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cts in Model)
            {
            <tr asp-area="Contest" asp-controller="Jury" asp-action="Home" asp-route-cid="@cts.ContestId" role="row" data-target="gotoUrl" class="@ContestState(cts)">
                <td use-a>@cts.ContestId</td>
                <td use-a>@cts.ShortName</td>
                <td use-a><span class="forceWidth" style="max-width:20em">@(string.IsNullOrEmpty(cts.Name) ? "(unnamed)" : cts.Name)</span></td>
                <td use-a>@(cts.IsPublic ? "yes" : "no")</td>
                <td use-a>@(cts.StartTime.HasValue ? Html.CstTime(cts.StartTime) : "-")</td>
                <td use-a>@(cts.Duration?.ToString() ?? "-")</td>
                <td use-a>@cts.TeamCount</td>
                <td use-a>@cts.ProblemCount</td>
                <td use-a>@ContestKind(cts)</td>
                <td use-a class="rks"><misc-status type="ContestRule" value="cts.RankingStrategy" /></td>
                <td><a asp-area="Contest" asp-controller="Jury" asp-action="Edit" asp-route-cid="@cts.ContestId" title="edit this contest"><i class="fas fa-edit"></i></a></td>
            </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $().ready(function () {
        $('.data-table').DataTable({
            "paging": false,
            "searching": true,
            "ordering": true,
            "order": [[0, 'desc']],
            "info": false,
            "autoWidth": true,
            "language": {
                "searchPlaceholder": "filter table",
                "search": "_INPUT_",
            },
            'aoColumnDefs': [
                { aTargets: ['sortable'], bSortable: true },
                { aTargets: ['searchable'], bSearchable: true },
                { aTargets: ['_all'], bSortable: false, bSearchable: false }
            ],
        });

        $('.dataTables_wrapper .row:first-child .col-md-6:first-child').html($('#paging').html());
        $('.dataTables_wrapper .pagination-sm').addClass('mb-0');
    });
</script>

<p>
    <a asp-action="Add" asp-route-kind="0" class="btn btn-primary" title="Add new contest"><i class="fas fa-plus"></i>&nbsp;Add new contest</a>
    <a asp-action="Add" asp-route-kind="1" class="btn btn-success" title="Add new contest"><i class="fas fa-plus"></i>&nbsp;Add new practice</a>
    <a asp-action="Add" asp-route-kind="2" class="btn btn-secondary" title="Add new contest"><i class="fas fa-plus"></i>&nbsp;Add new problemset</a>
</p>
