@model IEnumerable<Clarification>
@{
    ViewData["Title"] = "Clarification Request";
    Layout = "_WindowLayout";
    ViewData["MaxWidth"] = "800px";
    ViewData["HandleKey"] ??= "view_clarification";
    Clarification main = null;
}

<div class="@(ViewData.ContainsKey("InAjax") ? "container" : "") clarificationform">
@foreach (var item in Model)
{
    main = item;
    var prob = Contest.Problems.Find(item.ProblemId ?? 0);
<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-sm">
                Subject:
                @item.Category @prob?.ShortName issue
            </div>
            <div class="col-sm text-muted text-right">
                <span title="@item.SubmitTime.ToString("yyyy-MM-dd HH:mm") (CST)">
                    @item.SubmitTime.ToString("HH:mm")
                </span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-title">
            <div class="row">
                <div class="col-sm">
                    From:
                    @(item.Sender.HasValue ? "Team t" + item.Sender : "Jury")
                </div>
                <div class="col-sm">
                    To:
                    @if (item.Recipient.HasValue)
                    {
                        @ViewData["TeamName"]
                    }
                    else if (item.Sender.HasValue)
                    {
                        @("Jury")
                    }
                    else
                    {
                        <strong>All</strong>
                    }
                </div>
            </div>
        </div>
        <div class="card-text">
            <pre class="output-text bg-light p-3">@item.Body</pre>
        </div>
    </div>
</div>
}
</div>
@{
    ViewData["ClarId"] = main.Id;
    var replyModel = new AddClarificationModel
    {
        Body = string.Join("", main.Body.Split('\n').Select(s => "> " + s)) + "\n",
        Type = Contest.Problems.ClarificationCategories.Where(a => a.Item2 == main.Category && a.Item3 == main.ProblemId).Select(a => a.Item1).FirstOrDefault() ?? "general"
    };
}
<partial name="ClarificationReply" model="replyModel" />

@section Footer {
    <button class="btn btn-secondary" data-toggle="collapse" data-target="#collapsereplyform"
            aria-expanded="false" aria-controls="collapsereplyform">
        <i class="fa fa-reply"></i> reply to this clarification
    </button>
}

@section Scripts {
    <script>
        $(function () {
            setSeenClar(@main.Id);
        });
    </script>
}
