@model SubmissionViewModel
@{
    ViewData["Title"] = "Submission details";
    Layout = "_WindowLayout";
    ViewData["MaxWidth"] = "800px";
    ViewData["HandleKey"] ??= "view_submission";
}

<div class="@(ViewData.ContainsKey("InAjax") ? "container" : "")">
    <div class="d-flex flex-row">
        <div class="p-2">Problem: <b><span class="probid">@Model.Problem.ShortName</span> - @Model.Problem.Title</b></div>
        <div class="p-2">Submitted: <b>@Model.Time.ToString("HH:mm")</b></div>
        <div class="p-2">Language: <b>@Model.Language.Name</b></div>
        <div class="p-2">Compilation: <span class="badge badge-@(Model.CompilerOutput is null ? "secondary" : Model.Verdict == Verdict.CompileError ? "danger" : "success")">@(Model.CompilerOutput is null ? "waiting" : Model.Verdict == Verdict.CompileError ? "failed" : "successful")</span></div>
    </div>

    <div class="d-flex flex-row" asp-show-if="@(Model.CompilerOutput != null && Model.Verdict != Verdict.CompileError)">
        <div class="p-2">
            Run result: <verdict3 value="@Model.Verdict" />
        </div>
        <div asp-show-if="Contest.RankingStrategy == CcsDefaults.RuleIOI" class="p-2">
            Score: <b>@Model.Points</b>
        </div>
    </div>

    <hr />
    <h4 class="text-center">Compilation output</h4>
    <snippet class="pre-scrollable" base64="@Model.CompilerOutput" nodata="There were no compiler errors or warnings." />

    <hr />
    <h4 class="text-center">Source code</h4>
    <script src="~/lib/ace/ace.js"></script>
    <p asp-show-if="Contest.GetState() != ContestState.Finalized" class="nodata">Source code will be available when contest is finalized.</p>
    <ace asp-show-if="Contest.GetState() == ContestState.Finalized" value="@Model.SourceCode.UnBase64()" file="Main.@Model.Language.FileExtension" />
</div>

@section Scripts {
    <script>
        $(function () {
            setSeenSub(@Model.SubmissionId);
        });
    </script>
}
